/*commentaires*/
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.menu-small, .menu-under {
    display:none;
}
header, main, .footer-container {
    width: 92vw;
    margin: auto;
    max-width: 1280px;
}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
nav ul {
    display: flex;
    list-style: none;
}
a {
    text-decoration: none;
    color: initial;
}
a[href="#hebergements"] {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding: 34px;
}
a[href="#activites"] {
    padding-left: 30px;
}
nav span {
    color: #0065FC;
    padding-left: 60px;
}
.similar-size {
    font-size: 1.4em;
}
.fa-map-marker-alt {
    border: 12px #F2F2F2 solid;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
}
.fa-search {
    display: none !important;
}
#button {
    border: 8px #0065FC solid;
    border-radius: 0 10px 10px 0;
    background-color: #0065FC ;
    color : white ;
    font-weight: bold;
}
#ville {
    border: 1px #F2F2F2 solid;
    font-weight: bold;
    padding-inline-start: 15px;
}
.search-bar p {
    display: flex;
    margin-top: 30px;
}
.filters-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filters-box ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.filters-box li {
    font-weight: bold;
    border: 2px #F2F2F2 solid;
    border-left-width: 0;
    border-radius: 30px ;
    margin-right: 30px;
    padding-right: 25px;
}
.filters-box li:hover {
    background-color: #DEEBFF;
}
.filters-box h2 {
    font-size: 1em;
}
.filters-box i {
    border: 10px #DEEBFF solid;
    border-radius: 20px;
    background-color: #DEEBFF;
    color: #0065FC;
    margin-right: 10px;
    padding: 4px;
}
.fa-money-bill-wave {
    font-size: 15px;
    padding-bottom: 5px !important;
}
.fa-child {
    width: 18px;
    text-align: center;
}
.fa-heart {
    padding-right: 6px !important;
}
.fa-info {
    color: #0065FC;
    font-size: 0.8em;
    width: 12px;
    border: 2px #F2F2F2 solid;
    border-radius: 50px;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
}
.info p {
    font-size: 0.9em;
    padding-bottom: 15px;
}
.section2-3 {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
#hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 62%;
    background-color: #F2F2F2;
    border-radius: 20px;
}
#hebergements h2 {
    padding-left: 25px;
    padding-top: 20px;
}
#hebergements img {
    object-fit: cover;
    width: 220px;
    height: 120px;
}
.bottomtext {
    padding-left: 10px;
}
.afficher {
    padding-left: 25px;
}
.card-hrooms {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-hrooms img {
    border-radius: 15px 15px 0 0;
}
.hroom {
    background-color: white;
    margin: 0 10px 20px 10px;
    border-radius: 8%;
    padding: 5px;
    box-shadow: 3px 3px 9px #80808038;
    line-height: 0.5em;
}
.fa-star {
    color: #0065FC;
}
.section2-3 span {
    color: #F2F2F2;
}
#populaires {
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 35%;
}
#populaires img {
    object-fit: cover;
    height: 140px;
    width: 140px;
}
.proom {
    background-color: white;
    padding: 5px;
    margin: 20px 20px 20px 20px;
    border-radius: 25px;
    display:flex;
    box-shadow: 3px 3px 9px #80808038;
}
.sidetext {
    padding-left: 20px;
    line-height: 0.9em;
}
.sidestars {
    display: flex;
}
.proom img {
    border-radius: 22px 0 0 22px;
}
.h2i {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    padding-top: 20px;
}
.card-prooms {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
#activites h2 {
    margin-top: 40px;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.part1 {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part2 {
    display: flex;
}
.cadre {
    background-color: white;
    box-shadow: 3px 3px 9px #80808038;
    border-radius: 20px;    
    margin-bottom: 15%;
}
.row1024 { 
display: flex;
flex-direction: column;
}
#activites img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
img[alt="Vieux Port"], img[alt="Parc National des Calanques"] {
    width: 280px; 
    height: 490px;
}
img[alt="Fort de Pomègues"], img[alt="Parc Longchamp"] {
    width: 280px;
    height: 250px;
}
img[alt="Îles du Frioul"], img[alt="Notre-Dame-de-la-Garde"] {
    width: 280px;
    height: 140px;
}
.container h3 {
    padding-left: 10px;
}
.activites h2 {
    margin-top: 50px;
}
/* footer */
footer {
    background-color: #F2F2F2;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
}
.rubrique {
    margin-right: 19%;
}


@media screen and (max-width: 425px) {
main, header, .footer-container {
    width: 100vw;
}
nav ul {
    display: none;
}
.menu-small, .menu-under {
    display: initial;
}
.menu-small {
    text-align: end;
    margin-top: -30px;
    color: #0065FC;
}
.menu-under {
    padding: 40px 0;
    text-align: center;
}
a[href="#hebergements"] {
    border-bottom: 3px #0065FC solid;
    border-top: none;
    padding-bottom: 10px;
}
.menu-under a[href="#activites"] {
    border-bottom: 3px #F2F2F2 solid;
    padding-bottom: 10px;
    padding-right: 65px;
}
header img {
    margin-left: 15px;
}
.menu-small span {
    margin-right: 15px;
}
.h1p {
    margin: 0 15px;
}
#button {
    display:none 
}
.fa-search {
    display: initial !important;
    border: 11px #0065FC solid;
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    color: white;
}
.search-bar p {
    margin: 0 15px 15px 15px;
    padding-top: 10px;
}
.filters-box li {
    margin-top: 10px;
}
.filters-box h2, .info p {
    margin: 0 15px;
}
.filters-box h2 {
    padding-top: 10px;
}
.info p {
    padding-top: 15px;
}
.section2-3 {
    flex-direction: column-reverse;
}
#populaires {
    width: 100%;
    border-radius: 0%;
    margin-top: 20px;
}
.proom {
    margin: 0 0 15px;
    width: 90%;
    margin-left: 16px;
}
#hebergements h2 {
    padding-left: 15px;
}
#hebergements {
    background-color: white;
    margin-top: 0 !important;
}
#hebergements img{
    width: 280px;
    height: 140px;
}
.afficher { 
    padding-left: 20px;
}
#activites h2 {
    padding-left: 18px;
}
#activites img {
    width: 280px;
    height: 140px;
}
/* footer */
.container {
    justify-content:center;
}
.rubrique {
        padding-left: 10% !important;
} 
}
@media screen and (max-width: 1024px) {
.section2-3 {
flex-direction: column-reverse;
}
#hebergements {
    width: 100%;
    margin-top: 35px;
}
#hebergements h2 {
    padding-bottom: 10px;
}
.afficher {
    padding-bottom: 15px;
}
#populaires {
    width: 100%;
}
.container {
    width: 75%;
    padding-left: 12%;
}
.rubrique {
    margin-right: 15%;
}
}